.iconeFechada {
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.iconeAtendendo {
height: 15px;
width: 15px;
background-color: green;
border-radius: 50%;
display: inline-block;
}
  
.iconeAvisar {
height: 15px;
width: 15px;
background-color: yellow;
border-radius: 50%;
display: inline-block;
}

.iconeAvisado {
height: 15px;
width: 15px;
background-color: blue;
border-radius: 50%;
display: inline-block;
}
