/* ### DIVS GRANDES BASE DA ESTRUTURA ### */
.div-cabecalho{
  width: 720px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: white; */
  margin-bottom: 10px;
}

.div-adicionar-nomes{
  background-color: rgb(255, 248, 219);
  width: 720px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* border-style: solid;
  border-width: 2px;
  border-color: blue; */
}

.div-vid-pre{
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 720px;
}

.div-menu{
  background-color: rgb(255, 248, 219);
  border-radius: 10px;
  display: flex;
  justify-content:center;
  justify-content: space-evenly;
  /* flex-direction: row; */
  width: 720px;
  /* border-style: solid;
  border-width: 1px;
  border-color: blue; */
}

.div-info{
  
}

/* ### FIM DIVS GRANDES BASE DA ESTRUTURA ### */

/*###############################*/

/* ### DENTRO DE DIV CABEÇALHO ### */

.dc-congrega{/* dc  = div cabeçalho*/
  height: 70px;
  align-items: start;
  /* background-color: blue; */
}

.dc-tit-principal{
  /* width:460px; */
  text-align: center;
  padding-top: 0px;
  /* background-color: yellow; */
}

.dc-data{
  /* width: 200px; */
  text-align: right;
  padding-top: 30px;
  /* background-color: green; */
}
/* ### FIM DE DENTRO DE DIV CABEÇALHO ### */

/*###############################*/

/* DENTRO DE ADICIONAR NOMES */

.dan-tit-form{ /* dan = div adicionar nomes*/
  width: 190px;
  padding-left: 20px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dan-form{
  width: 200px;
  padding-top: 20px;
  /* border-color: red;
  border-style: solid;
  border-width: 2px; */
}

.dan-bt-vid-pre{
  width: 170px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dan-bt-adicionar{
  width: 110px;
  position: relative;
  float: right;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dan-bt-adicionar-centro-vertical{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* FIM DENTRO DE ADICIONAR NOMES */

/*###############################*/

/* ### DENTRO DE DIV-VID-PRE ### */

.div-espaco{
  /* background-color: blueviolet; */
  width: 20px
}

.tit-vid{
  background-color: rgb(149, 243, 255);
  text-align: center;
  padding: 10px;
  /* width: 330px; */
  border-radius: 10px;
  margin-bottom: 10px;
}

.tit-pre{
  background-color: rgb(149, 255, 225);
  text-align: center;
  padding: 10px;
  /* width: 330px; */
  border-radius: 10px;
  margin-bottom: 10px;
}


.camara-vid{
  background-color: rgb(149, 243, 255);
  min-width: 330px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.camara-pre{
  background-color: rgb(149, 255, 225);
  min-width: 330px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 330px; */
  margin-bottom: 10px;
}

.camara{
  /* border-style: solid;
  border-width: 1px; */
  background-color: rgb(255, 248, 219);
  padding: 10px;
  border-radius: 8px;
  min-width: 140px;
}

.lista{
  /* border-style: solid; */
  /* border-width: 1px; */
  /* background-color: rgb(255, 248, 219); */
  padding: 10px;
  /* width: 330px; */
  border-radius: 10px;
}

.lista-vid{
  background-color: rgb(149, 243, 255);
  padding: 10px;
  /* width: 330px; */
  border-radius: 10px;
}

.lista-pre{
  background-color: rgb(149, 255, 225);
  padding: 10px;
  /* width: 330px; */
  border-radius: 10px;
}

/* ### FIM DE DENTRO DE DIV-VID-PRE ### */



/* ### DENTRO DE MENU ### */
.dm-tit{ /*dm = div menu*/
  /* height: 100px;
  position: relative; */
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dm-bt-tv{
  /* height: 200px;
  position: relative; */
  padding-top: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dm-bt-reiniciar{
  /* height: 200px;
  position: relative; */
  /* float: right; */
  padding-top: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

/* ### FIM DE DENTRO DE MENU ### */



.link-remover, .link-editar{
  margin-left: 7px;
}

/* ########## BOTÃO VID-PRE ########## */
 .bt-vid-pre-radio{/*div-radio */
  background-color:rgb(255, 248, 219);
  height: 40px;
  width: 160px;
  /* box-shadow: 0 0 30px 0px #d1d1d1; */
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

input[type="radio"] {
  display: none;
}

.label1,.label2 {
  display: block;
  /* height: 40px; */
  width: 100px;
  color: #2c2c2c;
}

.label2 {
  right: 0;
  border-left: solid 1px;
}

.radio-txt {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* font-weight: 500; */
  /* font-size: 14px; */
}

.radio:checked + label {
  background-color:black;
  color: rgb(255, 255, 255);
}
/* FIM BOTÃO VID-PRE */

.nobr { 
  /* white-space: nowrap; */
  /* display: flex;
  justify-content: space-between; */
}



/* .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */