  /* border-style: solid;
  border-width: 2px;
  border-color: blue; */

.txt-tit1{
  font-size: 18pt;
  font-weight: bold;
  /* color: red; */
}

.txt-tit2{
  font-size: 14pt;
  font-weight: bold;
  /* color: orange; */
}

.txt-tit3{
  line-height: -5;
  font-size: 10pt;
  font-weight: bold;
  /* color: green; */
}

.txt-tit4{
  font-size: 8pt;
  font-weight: bold;
  /* color: blue; */
}

.txt-destaque{
  height: 40px;
  word-wrap: break-word;
  /* word-break: break-all; */
  font-size: 10pt;
  font-weight: bold;
}

.txt-normal{
  font-size: 10pt;
  color: purple;
}

.txt-pequeno{
  font-size: 9pt;
  font-weight: bold;
}

.atendimentos{
  letter-spacing: 2px;
  padding-right: 4%;
}

/* ### DIVS GRANDES BASE DA ESTRUTURA ### */

.div-cabecalho{
  width: 810px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 10px; */
  margin-bottom: 10px;
}
 
.div-videncia-prece{
  width: 830px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.div-menu-todo{
  width: 810px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* border-style: solid;
  border-width: 6px;
  border-color: rgb(255, 0, 208); */
}

.div-menu{
  border-radius: 8px;
  display: flex;
  justify-content: left;
  gap: 20px;
  /* flex-direction: row; */
  margin-bottom: 10px;
  /* border-style: solid;
  border-width: 1px;
  border-color: blue; */
}

.div-menu > a{
  width: 180px;
}

.div-info{
  width: 780px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.div-outros{
  width: 810px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}


/* ### FIM DIVS GRANDES BASE DA ESTRUTURA ### */

/******************************************/

/* ### DENTRO DE DIV CABEÇALHO ### º*/

.dc-logo{/* dc  = div cabeçalho*/
  /* background-color: blue; */
}

.dc-tit{
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  /* background-color: yellow; */
}

.dc-data{
  display: flex;
  justify-content: flex-end; /* Horizontally align to the right */
  align-items: center; /* Vertically center */
  /* background-color: green; */
}

/* ### FIM DE DENTRO DE DIV CABEÇALHO ### */

/******************************************/

/* DENTRO DE ADICIONAR NOMES dan = div adicionar nomesª*/

.div-adicionar-nomes{
  width: 810px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: blue; */
}

.dan-tit{
  /* border-style: solid;
  border-width: 2px;
  border-color: green; */
}

.dan-form{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 16px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dan-bt-videncia-prece{
  /* border-style: solid;
  border-width: 2px;
  border-color: orange; */
}

.dan-bt-adicionar{
  /* border-style: solid;
  border-width: 2px;
  border-color: magenta; */
}

/* ########## BOTÃO VIDENCIA-PRECE ########## */

.bt-videncia-prece{/*div-radio */
  height: 20px;
  width: 160px;
  background-color:rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

input[type="radio"] {
  display: none;
}

.label1,.label2 {
  display: block;
  width: 120px;
  color: #2c2c2c;
}

.label2 {
  right: 0;
  border-left: solid 2px;
  border-color: white;
}

.radio-txt {
  display: flex;
  height: 20px;
  width: 80px; 
  justify-content: center;
  align-items: center;
}

.radio:checked + label {
  background-color:black;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
/* ########## FIM BOTÃO VIDENCIA-PRECE ########## */


/* FIM DENTRO DE ADICIONAR NOMES */

/******************************************/

/* ### DENTRO DE DIV-VIDENCIA-PRECE ### */

/* dvp = div videncia prece */

/* DENTRO DE CADA CÂMARA § dvpcc = div videncia prece cada câmara */
.dvp-camara-total{
  min-width: 390px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dvp-camara-individual{
  width: 170px;
  height: 260px;
  padding: 10px;
  border-radius: 8px;
  white-space: normal;
  text-align: center;
  /* border-style: solid;
  border-width: 2px;
  border-color: blue; */
}


.btcamara{
  font-weight: bold;
  font-size: small;
}

/* FIM: DENTRO DE CADA CÂMARA */

.div-espaco{
  width: 200px;
  /* background-color: blueviolet; */
}

.dvp-tit{
  height: 30px;
  text-align: center;
  padding: 6px 4px 4px 4px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.dvp-lista{
  min-height: 420px;
  padding: 5 10 10 10;
  border-radius: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.dvp-bt-num-gde-com-bt-cham-nov{
  /* background-color: green; */
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.dvp-camara-numero-grande{
  font-size: 25pt;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  margin-top: -5%;
  margin-bottom: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  /* background-color: red; */
  border-radius: 50%;
}

.dvp-bt-chamar-novamente{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icone-fechada {
  height: 15px;
  width: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.icone-atendendo {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.icone-avisar {
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.icone-avisado {
  height: 15px;
  width: 15px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

/* ### FIM DE DENTRO DE DIV-VIDENCIA-PRECE ### */

.legenda{
  width: 810px;
  text-align: center;
  /* justify-content: space-between; */
  padding: 0 10 0 10;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block; /* Display each word as a block */
  white-space: nowrap; /* Prevent words from wrapping */
  /* margin-right: 10px; Adjust the spacing between words */
}

/* ### DENTRO DE MENU ### */



/* ### FIM DE DENTRO DE MENU ### */

/* ### DENTRO DE INFO ### */
.di-calendario{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
/* ### FIM DE DENTRO DE INFO ### */

.link-remover, .link-editar, .link-reposicionar, .link-dupla, .link-icone, .link-observacao{
  margin-left: 4px;
  text-decoration: none;
}

.linkbolinhas {
  text-decoration: none;
}
