body{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
}

.tv-camara{
    background-color: rgb(255, 248, 219);
    padding: 20px;
    padding-left: 5px;
    border-radius: 4px;
    width: 370px;
    text-align: center;
  }
  
  .tv-videncia{
    background-color: rgb(149, 243, 255);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
  }
  
  .tv-prece{
    background-color: rgb(149, 255, 225);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
  }