body{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tv-camara{
    background-color: rgb(255, 248, 219);
    padding: 20px;
    border-radius: 4px;
    width: 150px;
  }
  
  .tv-vid{
    background-color: rgb(149, 243, 255);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
  }
  
  .tv-pre{
    background-color: rgb(149, 255, 225);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
  }