body{
    font-size: 20px;
}

.tv-data{
  padding: 20px;
  margin-top: 30px; 
}

.tv-videncia-prece{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tv-camara{
    background-color: rgb(255, 248, 219);
    margin: 20px;
    border-radius: 10px;
    width: 370px;
    text-align: center;
  }
  
  .tv-videncia{
    background-color: rgb(59, 219, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .tv-prece{
    background-color: rgb(96, 255, 210);
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .camara-chamando{
    background-color: rgb(249, 225, 128);
  }